@font-face {
	font-family: FS Albert;
	font-weight: bold;
	src: url("../fsalbert-bold.otf") format("opentype");
}

#container {
    height: 1000px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}